---
import cvEs from '../../cv-es.json';
import Job from './Job.astro';

const { work } = cvEs;
---

<section class="p-8 bg-gray-100">
  <div class="container max-w-6xl mx-auto">
    <!-- <h2 class="mb-8 text-3xl font-bold">Experiencia Laboral</h2> -->
    <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3">
      {work.map((job) => (
        <Job {...job} />
      ))}
    </div>
  </div>
</section>