---
import {basics} from '../../cv-es.json';
const {name, label, image, email, phone, url, summary, location, profiles} = basics;
const {city, region} = location;
---

<section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <p class="text-lg leading-relaxed">{summary}</p>
    </div>
  </div>
</section>
