---
import Layout from '../layouts/Layout.astro';
import About from '../components/sections/About.astro';
import Education from '../components/sections/Education.astro';
import Experience from '../components/sections/Experience.astro';
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
import Skills from '../components/sections/Skills.astro';
---

<Layout title="Portafolio Personal">
  <main class="container px-4 py-8 mx-auto">
    <section class="mb-8">
      <Hero />
    </section>

		<section class="mb-8">
      <About />
    </section>

    <section class="mb-8">
      <Experience />
    </section>

    <section class="mb-8">
      <Projects />
    </section>

		<section class="mb-8">
      <Education />
    </section>

    <section class="mb-8">
      <Skills />
    </section>
  </main>
</Layout>