---
import '../styles/global.css'
import '@fontsource/montserrat';
import '@fontsource/lato';
import '@fontsource/inter';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Personal | Marcelo Robin</title>
	</head>
	<body>
		<slot />
	</body>
</html>


